Filter todos: <input [(ngModel)]="name" />
<div *ngFor="let todo of todos | todoFilter:name">
    <div [ngTemplateOutlet]="innerTemplate" [ngOutletContext]="{todo: todo}"></div>
    <button type="button" class="btn btn-link" (click)="selectTodo(todo)">Details</button>
    <button type="button" class="btn btn-link" (click)="toggleTodo(todo)">Toggle done</button>
    <button type="button" class="btn btn-link" (click)="editTodo(todo)">Edit</button>
    <button type="button" class="btn btn-link" (click)="deleteTodo(todo)">Delete</button>
</div>
<div>
    Count:<span > {{counts?.countAll}} </span> 
    Count done:<span class='green'> {{counts?.countDone}} </span>
    Count not done:<span class='red'> {{counts?.countNotDone}} </span>
</div>